<!-- A form with 4 fields firstname, email, mobile, location with a submit button-->
<html>  
  <head>    
    <title>Test</title>
  </head>
  <body>
    <form action="http://localhost:8080/form" method="post">
        <input type="text" name="firstname" placeholder="Firstname" />
        <input type="email" name="email" placeholder="Email" />
        <input type="text" name="mobile" placeholder="Mobile" />
        <input type="text" name="location" placeholder="Location" />

        <input type="submit" value="Submit" />
    </form>
</html>